<div class="admin-header">admin home</div>
<a href="/admin-manage?id=<%= @invites.first.event.id %>"><h2><%= @invites.first.event.title %></h2></a>
<h3><%= @invites.first.event.date.strftime("%d/%m/%Y") %> - <%= @invites.first.event.time.strftime("%H:%M")%>-<%= @invites.first.event.end.strftime("%H:%M")%></h3>
 <% @invites.each do |invite| %>
<div class="container white">
  <div class="col-sm-1 photo"><img src="<%= invite.invitee.linkedin_profile_pic %>" width="105"></div>
  <div class="col-sm-9">
    <% if invite.invitee.first_name != nil %>
    <strong><%= invite.invitee.first_name %> <%= invite.invitee.last_name %></strong> -
    <%= invite.invitee.linkedin_headline %><br>
    <a href="<%= invite.invitee.linkedin_url %>">linkedin profile</a><br>
    <% end %>
    <a href="mailto:<%= invite.invitee.email %>"><%= invite.invitee.email %></a>
  </div>
  <div class="col-sm-2">
    Invited by
    <% if invite.invited_by.to_i > 0 %>
          <%= @invitee.get(invite.invited_by.to_i).first_name + " " + @invitee.get(invite.invited_by.to_i).last_name %>
        <% else %>
          <%= invite.invited_by %>
        <% end %>
    <h4><%= invite.response %></h4>
    <% if invite.response != "Attended" %>
    <form action="/mark-attended" method="post">
      <input type="hidden" value="<%= invite.id %>" name="<%= :id %>">
      <input type="submit" value="Mark attended">
    </form>
    <% end %>
  </div>
</div>
<br>
  <% end %>
  Send all accepted attendees a message:
<form action="/send-message" method="POST">
  <input type="hidden" name="event" value="<%= @invites.first.event_id %>">
  Subject<br>
  <input type="text" name="subject" size="50"><br>
  Text<br>
  <textarea name="message" cols="50" rows="10"></textarea><br>
  <input type="submit" value="send message">
</form>
