<div class="admin-header"></div>

<div class="container">
  <a href="/admin-home">Back</a><br>

  <div class="col-sm-6">
    <h1><%= @event.title %></h1>
    <form class="" action="/save-event" method="post">
      <input type="hidden" name="id" value="<%=@event.id%>">
      <p>  Title <input type="text" name="title" value="<%= @event.title %>"> </p>
      <p>  Date <input type="date" name="date" value="<%= @event.date %>"> </p>
      <p>  Time <input type="time" name="time" value="<%= @event.time.strftime("%H:%M") %>"> to
        <input type="time" name="end" value="<%= @event.end.strftime("%H:%M") %>"> </p>
        <p>  Location <input type="text" name="location" value="<%= @event.location %>" size="30"> </p>
        <p>  Postcode <input type="text" name="postcode" value="<%= @event.postcode %>" size="10"> </p>
        <p>  Description <br><textarea name="description" cols="40" rows="3"><%= @event.description %></textarea> </p>
        <input type="text" name="image" value="<%= @event.image %>" size="35"><br><br>
        <p>  <input class="btn" type="submit" value="Save Event"></p>
      </form>
      <%= @map %>
    </div>

    <div class="col-sm-6">
      <h2> Invites </h2>
      <h4>ACCEPTED:</h4>
      <% if @accepteds.count > 0 %>
        <% @accepteds.each do |invite| %>
                  <strong><%= invite.invitee.first_name %> <%= invite.invitee.last_name %></strong><br>
                  <i><%= invite.invitee.linkedin_headline %></i><br>
        <% end %>
      <% else %>
        This event has no accepted invites
      <% end %>
      <h4>PENDING:</h4>
      <% if @pendings.count > 0 %>
        <% @pendings.each do |invite| %>
          <%= invite.invitee.email %> : <%= invite.response %> <br>
          <i>(invited by <%= invite.invited_by %>)</i>
          <br>
        <% end %>
        <% if @pendings.all(:response => "Invite not sent").count > 0%>
        <form class="" action="/send-emails" method="post">
          <input type="hidden" name="id" value="<%=@event.id%>">
          <input class="btn" type="submit" value="Send emails to pending">
        </form>
        <% end %>
      <% else %>
        This event has no pending invites
      <% end %>
      <h4>DECLINED:</h4>
      <% if @declineds.count > 0 %>
        <% @declineds.each do |invite| %>
          <p>
            <%= invite.invitee.first_name %> <%= invite.invitee.last_name %> (invited by <%= invite.invited_by %>)
          </p>
        <% end %>
      <% else %>
        This event has no declined invites
      <% end %>
      <br><br>
      <div>
        Add new invitee:
        <form class="" action="/new-invite" method="post">
          <input type="hidden" name="id" value="<%=@event.id%>">
          <p><input type="email" name="email" placeholder="email address" size="40"></p>
          <p><textarea name="reason" cols="40" rows="3" placeholder="I am inviting [name] because..."></textarea></p>
          <input class="btn" type="submit" value="Add Invite">
        </form>
      </div>
    </div>
  </div>
