<header class="intro-header" style="background-image: url(<%= @event.image %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1><%= @event.title %></h1>
                    <hr class="small">
                    <span class="subheading"><%= @event.date.strftime("%A %-d %B") %> <%= @event.time.strftime("%H:%M") %>-<%= @event.end.strftime("%H:%M") %></span>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
  <h3>guest list</h3>
<% @invites.each do |invite| %>
<div class="container white">
 <div class="col-sm-2 photo"><img src="<%= invite.invitee.linkedin_profile_pic %>" width="120"></div>
 <div class="col-sm-10">
   <strong><%= invite.invitee.first_name %> <%= invite.invitee.last_name %></strong> -
   <%= invite.invitee.linkedin_headline %><br>
   <%= invite.invited_by %> said that they invited <%= invite.invitee.first_name %> because:<br>
   <i><%= invite.reason %></i><br>
   <a href="<%= invite.invitee.linkedin_url %>">linkedin profile</a>
 </div>
</div>
<br>
 <% end %>
</body>
