<header class="intro-header" style="background-image: url('img/shutterstock_422347750.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>we are meetups</h1>
                    <hr class="small">
                    <span class="subheading">hello, <%= @user.first_name %> <%= @user.last_name %></span>
                </div>
            </div>
        </div>
    </div>
</header>

</body>
  <% if @invites.count > 0 %>
  <h2> Your invites: </h2>
    <% @invites.each do |invite| %>
      <div class="container invite-list" style="background-image: url('img/events.jpg'); vertical-align: middle; height: 120px; width: 600px;">
        <h3><%= invite.event.title %></h3>
          <%= invite.event.date.strftime("%d/%m/%Y") %>, <%= invite.event.time.strftime("%H:%M") %>-<%= invite.event.end.strftime("%H:%M") %>
            <br>Your RSVP: <%= invite.response %>
      </div><br>
    <% end%>
  <% else %>
  You don't currently have any invitations.<br> Register your interest in future events by clicking /here/
  <% end %>
</body>
