<div class="intro-header" style="background-image: url('<%= @invite.event.image %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1><%= @invite.event.title %></h1>
                    <hr class="small">
                    <span class="subheading"><%= @invite.event.date.strftime("%A %-d %B") %> <%= @invite.event.time.strftime("%H:%M") %>-<%= @invite.event.end.strftime("%H:%M") %></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container invite">
  <div class="col-sm-6">
        <div class="event-title"><%= @invite.event.title %></div>
        event description<br>
        <i> <%= @invite.event.description %> </i><br>
        <div class="flash"><%= flash[:notice] %></div>
        <div class="rsvp">
        <strong>your invite</strong>
        <% if @invite.response == 'Invite Received' ||  @invite.response == 'Invite Sent' %>
        <form action="/rsvp" method="post">
          <input type="hidden" name="invitee_id" value="<%= @invite.invitee.id %>">
          <input type="hidden" name="event_id" value="<%= @invite.event.id %>">
          <% if @invite.type == 'primary' %>
          <p><i>You can only attend this event of you bring a guest with you. Please add your guest email address and the reason you are inviting them to the event. The reason should include the experience they have in the industry or particular skills you think guest attending this event should know.</i></p>

            <input class="form-control" type="email" name="email" size="55" placeholder="your guests email address">
            <p><textarea class="form-control" name="reason" cols="54" rows="3" placeholder="i am inviting [name] because..."></textarea></p>

          <% end %>
          <input type="radio" name="rsvp" value="Accepted"> accept&emsp; </input>
          <input type="radio" name="rsvp" value="Declined"> decline</input><br><br>
          <input class="button" type="submit" value="SEND">
        </form>
        <% else %>
        <strong><%= @invite.response %></strong><br>
        <% end %>
      </div>

        ask a question about this event<br>
          <form action="/question" method="post">
            <input type="hidden" name="guest" value="<%= @invite.invitee.id %>">
            <input type="hidden" name="event" value="<%= @invite.event.id %>">
            <textarea class="form-control" name="message" cols="54" rows="3" placeholder="ask your question here..."></textarea>
            <input class="button" type="submit" value="SEND">
          </form>
      </div><br />
      <div class="col-sm-6">
            <strong>date & time</strong><br>
            <%= @invite.event.date.strftime("%A %-d %B") %> at <%= @invite.event.time.strftime("%H:%M") %>-<%= @invite.event.end.strftime("%H:%M") %><br>
            <strong>venue</strong><br>
            <%= @invite.event.location %>, <%= @invite.event.postcode.capitalize %><br>
            <%= @map %>
      </div>

</div><br>
