<header class="intro-header" style="background-image: url(<%= @invite.event.image %>)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1><%= @invite.event.title %></h1>
                    <hr class="small">
                    <span class="subheading"><%= @invite.event.date.strftime("%A %-d %B") %> <%= @invite.event.time.strftime("%H:%M") %>-<%= @invite.event.end.strftime("%H:%M") %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container invite">
  <div class="col-sm-6">
        <h3><%= @invite.event.title %></h3>
        <h4>event description</h4>
        <i> <%= @invite.event.description %> </i><br>
        <h4>your rsvp</h4>
        <% if @invite.response == 'Invite Received' ||  @invite.response == 'Invite Sent' %>
        <form action="/rsvp" method="post">
          <input type="hidden" name="invitee_id" value="<%= @invite.invitee.id %>">
          <input type="hidden" name="event_id" value="<%= @invite.event.id %>">
          <input type="radio" name="rsvp" value="Accepted"> i accept</input><br>
          <% if @invite.type == 'primary' %>
          <i>as a primary invitee to this event, please bring a guest!</i><br>
          <div class="flash"><%= flash[:notice] %></div>
          <div class="row">
            <input class="input-sm" type="email" name="guest_email" size="55" placeholder="To accept this invitation, enter your guests email address"><br>
            <p><textarea class="input-sm" name="reason" cols="54" rows="3" placeholder="I am inviting [name] because..."></textarea></p>
          </div>
          <% end %>
          <input type="radio" name="rsvp" value="Declined"> i decline</input><br><br>
          <input class="btn" type="submit" value="Send my RSVP">
        </form>
        <% else %>
        <br><strong><%= @invite.response %></strong>
        <% end %>
      </div>
      <div class="col-sm-6">
            <h4>date & time</h4>
            <%= @invite.event.date.strftime("%A %-d %B") %> at <%= @invite.event.time.strftime("%H:%M") %>-<%= @invite.event.end.strftime("%H:%M") %><br>
            <h4>venue</h4>
            <%= @invite.event.location %>, <%= @invite.event.postcode.capitalize %>
            <h4>map</h4>
            <%= @map %>
      </div>

</div><br>
