
<a href="/admin/home">Back to event list</a>

<h2><%= @event.title %></h2>
<%= @event.location %> - <%= @event.date.strftime("%d/%m/%Y") %>
<h3>ACCEPTED:</h3>
<% if @accepteds.count > 0 %>
    <% @accepteds.each do |invite| %>
    <div class="table">
      <div class="table-body">
        <div class="table-row">
          <div class="table-cell photo"><img src="<%= invite.invitee.linkedin_profile_pic %>" width="70"></div>
            <div class="table-cell linkedin">
             <strong><%= invite.invitee.first_name %> <%= invite.invitee.last_name %></strong><br>
             <%= invite.invitee.linkedin_headline %><br>
             <a href="<%= invite.invitee.linkedin_url %>">LinkedIn Profile</a>
           </div>
           <div class="table-cell invite">
             <%= invite.invited_by %> invited <%= invite.invitee.first_name %> because:<br>
             <i>"<%= invite.reason %>"</i>
           </div>
         </div>
       </div>
     </div>
    <% end %>
  <% else %>
    This event has no accepted invites
<% end %>
<h3>PENDING:</h3>
<% if @pendings.count > 0 %>
  <ul>
    <% @pendings.each do |invite| %>
       <li>
         <%= invite.invitee.email %> : <%= invite.response %> (invited by <%= invite.invited_by %>)
       </li>
    <% end %>
  </ul>
  <form class="" action="/send-emails" method="post">
    <input type="hidden" name="id" value="<%=@event.id%>">
    <input class="btn" type="submit" value="Send emails to pending">
  </form>
  <% else %>
    This event has no pending invites
<% end %>
<h3>DECLINED:</h3>
<% if @declineds.count > 0 %>
  <ul>
    <% @declineds.each do |invite| %>
       <li>
         <%= invite.invitee.first_name %> <%= invite.invitee.last_name %> (invited by <%= invite.invited_by %>)
       </li>
    <% end %>
  </ul>
  <% else %>
    This event has no declined invites
<% end %>
<br><br>
<div>
  Add new invitee:
<form class="" action="/new-invite" method="post">
  <input type="hidden" name="id" value="<%=@event.id%>">
  <p><input type="email" name="email" placeholder="email address"></p>
  <p><textarea name="reason" cols="40" rows="3" placeholder="I am inviting [name] because..."></textarea></p>
  <input class="btn" type="submit" value="Add Invite">
</form>
</div>
